@page "/Messaging/SenderIds"
@attribute [Authorize]

<PageTitle>Sender Ids</PageTitle>

<h3 class="mb-4">Sender IDs</h3>

<Card HeaderTitle="Sender IDs">
    <Body>
        <SearchArea>
            <LeftRight>
                <Left>
                    <SearchBox @ref="searchBox" @onclick="OnSearch">
                        <InputSelect class="form-select" @bind-Value="searchStatus">
                            <option value="">All</option>
                            <option value="APPROVED">Approved</option>
                            <option value="PENDING">Pending</option>
                        </InputSelect>
                    </SearchBox>
                </Left>
                <Right>
                    <Button Type="Button.Style.ADD" 
                            @onclick="e => senderIdModal.Show()">
                        New Sender ID
                    </Button>
                </Right>
            </LeftRight>
        </SearchArea>
        <Table Items="filteredItems">
            <Columns>
                <Column Header="#"><input class="form-check-input" type="checkbox" /></Column>
                <Column Header="SenderID">@context.SenderID</Column>
                <Column Header="Purpose">@context.Purpose</Column>
                <Column Header="Sample Message">@context.SampleText</Column>
                <Column Header="Date Requested"><FormatDate DateTime="@context.DateRequested"></FormatDate></Column>
                <Column Header="Date Approved">
                    @if (context.Approved == true)
                    {
                        <FormatDate DateTime="context.DateApproved!.Value.DateTime"></FormatDate>
                    }
                    else
                    {
                        <span>Pending Approval</span>
                    }
                </Column>
                <Column Header="Status">
                    @if (context.Approved)
                    {
                        <span class="badge text-bg-success">APPROVED</span>
                    }
                    else
                    {
                        <span class="badge text-bg-warning">PENDING</span>
                    }
                </Column>
                <Column>
                    <Actions OnDelete="e => senderIdModal.Delete(context)">
                    </Actions>
                </Column>
            </Columns>
        </Table>
    </Body>
</Card>

<SenderIdModal @ref="senderIdModal" OnCompleted="FetchData"></SenderIdModal>

@code {
    private SearchBox searchBox = new();
    private SenderIdModal senderIdModal = new();

    private string searchStatus = "";
    private List<SenderIdResponse> items = [];
    private List<SenderIdResponse> filteredItems = [];

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
    }

    private async Task FetchData()
    {
        var response = await apiClient.SenderIdListAsync(1, 500);

        if (response.StatusCode == 200)
        {
            items = response.Result.ToList();
            filteredItems = items;
        }
    }

    private void OnSearch()
    {
        filteredItems = items;

        switch (searchStatus)
        {
            case "APPROVED":
                filteredItems = filteredItems.Where(x => x.Approved).ToList();
                break;

            case "PENDING":
                filteredItems = filteredItems.Where(x => !x.Approved).ToList();
                break;
        }

        if (!string.IsNullOrWhiteSpace(searchBox.Text))
        {
            filteredItems = filteredItems.Where(x => x.SenderID.Contains(
                searchBox.Text, StringComparison.OrdinalIgnoreCase)).ToList();
        }
    }
}
