@page "/Messaging/Settings"
@attribute [Authorize]

<PageTitle>Settings</PageTitle>

<h3 class="mb-4">Settings</h3>

<Card>
    <Body>
        <MultiColumn>
            <Column1>
                <StaticText Label="Sender ID" Text="" />
                <StaticText Label="Delivery Email" Text="" />
                <StaticText Label="Signature" Text="" />
                <StaticText Label="TimeZone" Text="GMT +1" />
            </Column1>
            <Column2>
               
            </Column2>     
        </MultiColumn>
    </Body>
    <Footer>
        <div class="btn-group">
            <button class="btn btn-outline-primary">Edit Setting</button>
        </div>
    </Footer>
</Card>

@code {
    // private SettingModel model = new();
    // private ApiDataSource<SettingResponse> ds = new();


    // protected override async Task OnInitializedAsync()
    // {
    //     ds.Callback = new((PageState p, FilterState? f) =>
    //     {
    //         return apiClient.ac();
    //     });

    //     await ds.LoadData(alert);

    //     if (ds.Items != null)
    //         model = new(ds.Items);
    // } 
}
