@page "/Messaging/Settings"
@attribute [Authorize]

<PageTitle>Settings</PageTitle>

<h3 class="mb-4">Settings</h3>

<Card>
    <Body>
        <MultiColumn>
            <Column1>
                <StaticText Label="Delivery Email" Text="@account.AccountID" />
                <StaticText Label="Signature" Text="" />
                <FormField Label="TimeZone">
                    <InputSelect class="form-control" @bind-Value="@account.TimeZone">
                        <option value="-12">GMT -12</option>
                        <option value="-11">GMT -11</option>
                        <option value="-10">GMT -10</option>
                        <option value="-9">GMT -9</option>
                        <option value="-8">GMT -8</option>
                        <option value="-7">GMT -7</option>
                        <option value="-6">GMT -6</option>
                        <option value="-5">GMT -5</option>
                        <option value="-4">GMT -4</option>
                        <option value="-3">GMT -3</option>
                        <option value="-2">GMT -2</option>
                        <option value="-1">GMT -1</option>
                        <option value="0">GMT</option>
                        <option value="1">GMT +1</option>
                        <option value="2">GMT +2</option>
                        <option value="3">GMT +3</option>
                        <option value="4">GMT +4</option>
                        <option value="5">GMT +5</option>
                        <option value="6">GMT +6</option>
                        <option value="7">GMT +7</option>
                        <option value="8">GMT +8</option>
                        <option value="9">GMT +9</option>
                        <option value="10">GMT +10</option>
                        <option value="11">GMT +11</option>
                        <option value="12">GMT +12</option>

                    </InputSelect>
                </FormField>
            </Column1>
            <Column2>
               
            </Column2>     
        </MultiColumn>
    </Body>
    <Footer>
        <div class="btn-group">
            <button class="btn btn-outline-primary">Edit Setting</button>
        </div>
    </Footer>
</Card>

@code {
    private AccountResponse account = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await apiClient.AccountGetAsync("self");

        if (response.StatusCode == 200)
        {
            account = response.Result;
        }
    } 
}
