@page "/Messaging/Settings"
@attribute [Authorize]

<PageTitle>SMSLive247 - Settings</PageTitle>
<Title>Messaging Settings</Title>

<Card>
    <Body>
        <MultiColumn>
            <Column1>
                <div class="alert alert-info mb-3">
                    Setup a default SenderID here. Note that you can override this when actually sending.
                    The signature text is appended to the end of every message. Delivery email receives
                    failure reports for bulk sending.
                </div>
                <StaticText Label="Sender ID" Text="@senderId"></StaticText>
                <StaticText Label="Delivery Email" Text="@account.AccountID"></StaticText>
                <StaticText Label="Signature" Text="@signature"></StaticText>
                @{
                    string sign = account.TimeZone > 0 ? "+" : "-";
                    string timeZone = $"GMT {sign}{account.TimeZone}";
                }
                <StaticText Label="TimeZone" Text="@timeZone"></StaticText>
            </Column1>
        </MultiColumn>
    </Body>
    <Footer>
        <div class="btn-group">
            <Button Type="Button.Style.EDIT" @onclick="e => settingsModal.Show(account)">
                Edit Settings...
            </Button>
        </div>
    </Footer>
</Card>

<SettingsModal @ref="settingsModal"></SettingsModal>

@code {
    private AccountResponse account = new();
    private SettingsModal settingsModal = new();
    private string signature = "";
    private string senderId = "";

    protected override async Task OnInitializedAsync()
    {
        var response = await apiClient.AccountGetAsync("self");

        if (response.StatusCode == 200)
            account = response.Result;
    } 
}
