@page "/Messaging/Settings"
@attribute [Authorize]

<PageTitle>Settings</PageTitle>

<h3 class="mb-4">Settings</h3>

<Card>
    <Body>
        <MultiColumn>
            <Column1>
                <StaticText Label="Sender ID" Text="" />
                <StaticText Label="Delivery Email" Text="@account.Email" />
                <StaticText Label="Signature" Text="" />
                <StaticText Label="TimeZone" Text="@account.TimeZone.ToString()" />
            </Column1>
            <Column2>
               
            </Column2>     
        </MultiColumn>
    </Body>
    <Footer>
        <div class="btn-group">
            <button class="btn btn-outline-primary">Edit Setting</button>
        </div>
    </Footer>
</Card>

@code {
    private AccountResponse account = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await apiClient.AccountGetAsync("self");

        if (response.StatusCode == 200)
        {
            account = response.Result;
        }
    } 
}
