@page "/Messaging/Compose"
@attribute [Authorize]

<PageTitle>SMSLive247 - Compose</PageTitle>
<Title>Compose SMS</Title>

<Tabs>
    <TabPage Title="Compose Simple" Icon="fa fa-edit">
        <ComposeSimple></ComposeSimple>
    </TabPage>
    <TabPage Title="Compose Template" Icon="fa fa-table">
        <ComposeTemplate></ComposeTemplate>
    </TabPage>
</Tabs>
