<Modal Title="Transfer SMS Credits" Hidden="@(!showModal)" VAlign="Modal.ModalVAlign.CENTER">
    <Body>
        <div class="alert alert-info" role="alert">
            Minimum credit to transfer is 50 sms credit.
        </div>
        <EditForm Model="transferRequest" OnValidSubmit="BeginTransfer">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <FormField Label="Select Sub Account">
                <InputSelect @bind-Value="@transferRequest.RecipientID" class="form-select">
                    <option value=""></option>
                    @foreach (var item in subAccounts)
                    {
                        <option value="@item.AccountID">@item.AccountName</option>
                    }
                </InputSelect>
            </FormField>
            <FormInputNumber Label="Credits" @bind-Value="transferRequest.Credits" @oninput="UpdateNewBalance"></FormInputNumber>
            <FormInputNumber Label="Old Balance" @bind-Value="parentAccount.Credits" disabled="true"></FormInputNumber>
            <FormField Label="New Balance">
                <InputNumber @bind-Value="newBalance" class="form-control" disabled="true"></InputNumber>
            </FormField>

        </EditForm>
    </Body>
    <Footer>
        <button type="submit" class="btn btn-primary" @onclick="BeginTransfer">Transfer Credits</button>
    </Footer>
</Modal>

@code {
    private bool showModal = false;
    private List<AccountResponse> subAccounts = new();
    private AccountResponse parentAccount = new();
    private int newBalance;
    private TransferRequest transferRequest = new TransferRequest();

    protected override async Task OnInitializedAsync()
    {
        var t1 = apiClient.AccountsListAsync(1, 500, "self");
        var t2 = apiClient.AccountGetAsync("self");

        await Task.WhenAll(t1, t2);

        subAccounts = t1.Result.Result.ToList();
        parentAccount = t2.Result.Result;
    }

    public void Show()
    {
        showModal = true;
        StateHasChanged();
    }

    private async Task BeginTransfer()
    {
        try
        {
            var task = await apiClient.TransferCreditAsync(transferRequest);

            if (task.StatusCode == 200)
            {
                await alert.Success($"Your transfer of {transferRequest.Credits} to: {transferRequest.RecipientID} was successful", "Success");
            }
            else
            {
                await alert.Error("Failed to initialize transfer.", "Error");
            }
        }
        catch (Exception ex)
        {
            await alert.Error(ex.Message, "Error");
        }
        finally
        {
            StateHasChanged();
        }
    }

    private void UpdateNewBalance(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int credits))
        {
            newBalance = (int)parentAccount.Credits - credits;
        }
    }
}
