<Modal Title="Select Contacts" @bind-Hidden="hideModal" Size="Modal.ModalSize.LARGE">
    <Body>
        <ContactSelctor Contacts="Model.Contacts" OnSelected="OnSelected" />
    </Body>
    <Footer>
        <Button Type="Button.Style.CANCEL"
                @onclick="Hide">
            Close
        </Button>
    </Footer>
</Modal>

@code {
    [Parameter] public ComposeSimpleModel? Model { get; set; }
    [Parameter] public EventCallback OnSelected { get; set; }

    private bool hideModal = true;

    public void Show()
    {
        hideModal = false;
        StateHasChanged();
    }

    public void Hide()
    {
        hideModal = true;
        StateHasChanged();
    }
}
