@using SMSLive247.UI.Pages.Messaging.Messages

@page "/Messaging/Messages"
@attribute [Authorize]

<PageTitle>SMSLive247 - Messages</PageTitle>
<Title>My Messages</Title>

<Tabs>
    <TabPage Title="Sent Messages">
        <SentMessages></SentMessages>
    </TabPage>
    <TabPage Title="Draft Messages">
        <DraftMessages></DraftMessages>
    </TabPage>
    <TabPage Title="Pending/Scheduled">
        <CurrentlySending></CurrentlySending>
    </TabPage>
</Tabs>