@using SMSLive247.UI.Pages.Messaging.Messages

@page "/Messaging/Messages"
@attribute [Authorize]

<PageTitle>Messages</PageTitle>

<h3 class="mb-4">Messages</h3>

<Tabs>
    <TabPage Title="Sent Messages">
        <SentMessages></SentMessages>
    </TabPage>
    <TabPage Title="Draft Messages">
        <DraftMessages></DraftMessages>
    </TabPage>
    <TabPage Title="Currently Sending">
        <CurrentlySending></CurrentlySending>
    </TabPage>
</Tabs>

@code{

}
