@page "/Messaging/Contacts"
@attribute [Authorize]

<PageTitle>SMSLive247 - Contacts</PageTitle>
<Title>My Contacts</Title>

<Tabs>
    <TabPage Title="Phonebook">
        <PhoneBook></PhoneBook>
    </TabPage>
    <TabPage Title="Bulk Files">
        <BulkFiles></BulkFiles>
    </TabPage>
    <TabPage Title="CSV/Excel Files">
       <CsvFiles></CsvFiles>
    </TabPage>
</Tabs>
