<Card HeaderTitle="Bulk Files">
    <Body>
        <SearchArea>
            <LeftRight>
                <Left>
                    <SearchBox @ref="searchBox" @onclick="SearchBulkFile">
                    </SearchBox>
                </Left>
                <Right>
                    <Button Type="Button.Style.ADD" @onclick="e => bulkFileModal.Show()">
                        New Bulk File
                    </Button>
                </Right>
            </LeftRight>
        </SearchArea>
        <Table Items="filteredItems">
            <Columns>
                <Column Header="Description">@context.Description</Column>
                <Column Header="Total In File">@context.TotalNumbers</Column>
                <Column Header="Def Code">@context.FileType</Column>
                <Column Header="Date Added">
                    <FormatDate DateTime="@context.DateCreated"></FormatDate>
                </Column>
                <Column>
                    <Actions OnDelete="() => bulkFileModal.Delete(context)">
                    </Actions>
                </Column>
            </Columns>
        </Table>
    </Body>
</Card>

<BulkFileModal @ref="bulkFileModal"></BulkFileModal>

@code {
    private SearchBox searchBox = new();
    private BulkFileModal bulkFileModal = new();
    private List<BatchFileResponse> items = new();
    private List<BatchFileResponse> filteredItems = new();


    protected override async Task OnInitializedAsync()
    {
        var response = await apiClient.BatchFileListAsync();

        items = response.Result.ToList();
        filteredItems = items;
    }

    private void SearchBulkFile()
    {
        filteredItems = items
            .Where(i => string.IsNullOrWhiteSpace(searchBox.Text) || 
                        i.Description.Contains(searchBox.Text, StringComparison.OrdinalIgnoreCase))
                        .ToList();
    }
}
