<Card HeaderTitle="CSV/Excel Files">
    <Body>
        <SearchArea>
            <LeftRight>
                <Left>
                    <SearchBox @ref="searchBox" @onclick="e => ds.LoadData(alert)">
                    </SearchBox>
                </Left>
                <Right>
                    <Button Type="Button.Style.ADD" @onclick="e => csvFileModal.Show()">
                        New CSV File
                    </Button>
                </Right>
            </LeftRight>
        </SearchArea>
        <Table DataSource="ds">
            <Columns>
                <Column Header="Description">@context.Description</Column>
                <Column Header="Total In File">@context.TotalItems</Column>
                <Column Header="Def Code">@context.FileType</Column>
                <Column Header="Date Added">
                    <FormatDate DateTime="@context.CreateDate"></FormatDate>
                </Column>
                <Column>
                    <Actions OnDelete="() => csvFileModal.Delete(context)">
                    </Actions>
                </Column>
            </Columns>
        </Table>
    </Body>
    <Footer>
        <Pager PageState="ds.PageState" OnPageChange="e => ds.SetPage(e).LoadData(alert)" />
    </Footer>
</Card>

<BulkFileModal @ref="csvFileModal" DisableMergeOption="true"></BulkFileModal>

@code {
    private SearchBox searchBox = new();
    private BulkFileModal csvFileModal = new();
    private ApiDataSource<BatchFileResponse> ds = new();

    protected override async Task OnInitializedAsync()
    {
        ds.Callback = new(async (PageState p, FilterState? f) =>
        {
            var response = await apiClient.BatchFileListAsync(p.PageNumber, p.PageSize, searchBox.Text);
            return response;
        });

        await ds.LoadData(alert);
    }
}
