<Card HeaderTitle="CSV/Excel Files">
    <Body>
        <SearchArea>
            <LeftRight>
                <Left>
                    <SearchBox @ref="searchBox" @onclick="SearchCsvFile">
                    </SearchBox>
                </Left>
                <Right>
                    <Button Type="Button.Style.ADD" @onclick="e => csvFileModal.Show()">
                        New CSV File
                    </Button>
                </Right>
            </LeftRight>
        </SearchArea>
        <Table Items="filteredItems">
            <Columns>
                <Column Header="Description">@context.Description</Column>
                <Column Header="Total In File">@context.TotalNumbers</Column>
                <Column Header="Def Code">@context.FileType</Column>
                <Column Header="Date Added">
                    <FormatDate DateTime="@context.DateCreated"></FormatDate>
                </Column>
                <Column>
                    <Actions OnDelete="() => csvFileModal.Delete(context)">
                    </Actions>
                </Column>
            </Columns>
        </Table>
    </Body>
</Card>

<BulkFileModal @ref="csvFileModal" DisableMergeOption="true"></BulkFileModal>

@code {
    private SearchBox searchBox = new();
    private BulkFileModal csvFileModal = new();
    private List<BatchFileResponse> items = new();
    private List<BatchFileResponse> filteredItems = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await apiClient.BatchFileListAsync();
        items = response.Result.ToList();
        filteredItems = items;
    }

    private void SearchCsvFile()
    {
        filteredItems = items
            .Where(i => string.IsNullOrWhiteSpace(searchBox.Text) ||
                        i.Description.Contains(searchBox.Text, StringComparison.OrdinalIgnoreCase))
                        .ToList();
    }
}
