<Card HeaderTitle="CSV/Excel Files">
    <Body>
        <SearchArea>
            <LeftRight>
                <Left>
                    <SearchBox @ref="searchBox" @onclick="SearchCsvFile">
                    </SearchBox>
                </Left>
                <Right>
                    <Button Type="Button.Style.ADD" @onclick="e => csvFileModal.Show()">
                        New CSV File
                    </Button>
                </Right>
            </LeftRight>
        </SearchArea>
        <Table Items="filteredItems">
            <Columns>
                <Column Header="File Name" Width="45%">@context.Description</Column>
                <Column Header="Total Numbers" Width="15%">
                    <div class="float-end p-2 pe-4">@context.TotalNumbers.ToString("#,##0")</div>
                </Column>
                <Column Header="Date Uploaded">
                    <FormatDate DateTime="@context.DateCreated"></FormatDate>
                </Column>
                <Column Header="Type">@context.FileType</Column>
                <Column>
                    <Actions OnDownload="() => csvFileModal.Download(context)"
                             OnDelete="() => csvFileModal.Delete(context)">
                    </Actions>
                </Column>
            </Columns>
        </Table>
    </Body>
</Card>

<BulkFileModal @ref="csvFileModal" ForCSV="true" OnCompleted="FetchData"></BulkFileModal>

@code {
    private SearchBox searchBox = new();
    private BulkFileModal csvFileModal = new();
    private List<BatchFileResponse> items = [];
    private List<BatchFileResponse> filteredItems = [];

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
    }

    private async Task FetchData()
    {
        var response = await apiClient.BatchFileListAsync();

        if (response.StatusCode == 200)
        {
            items = response.Result.Where(x => x.FileType == "csv").ToList();
            filteredItems = items;
        }
    }

    private void SearchCsvFile()
    {
        filteredItems = items;

        if (!string.IsNullOrWhiteSpace(searchBox.Text))
        {
            filteredItems = filteredItems.Where(x => x.Description.Contains(
                searchBox.Text, StringComparison.OrdinalIgnoreCase)).ToList();
        }
    }
}
