@using SMSLive247.UI.Pages.Messaging.Contacts

@page "/Messaging/Contacts"
@attribute [Authorize]

<PageTitle>Contacts</PageTitle>

<h3 class="mb-4">Contacts</h3>

<Tabs>
    <TabPage Title="Bulk Files">
        <BulkFiles></BulkFiles>
    </TabPage>
    <TabPage Title="CSV/Excel Files">
       <CsvFiles></CsvFiles>
    </TabPage>
</Tabs>

@code{

}
