@using SMSLive247.UI.Pages.Messaging.Contacts

@page "/Messaging/Contacts"
@attribute [Authorize]

<PageTitle>Contacts</PageTitle>

<div class="mb-4">
    <h3>Contacts</h3>
    <NavLink href="#">Click here for step-by-step instruction on how to setup a template SMS.</NavLink>
</div>

<Tabs>
    <TabPage Title="Bulk Files">
        <BulkFiles></BulkFiles>
    </TabPage>
    <TabPage Title="CSV/Excel Files">
       <CsvFiles></CsvFiles>
    </TabPage>
</Tabs>

@code{

}
