<select @onchange="OnChange" class="form-control" id="@Id" multiple>
    @if (DropdownValues != null)
    {
        foreach (var cursor in DropdownValues)
        {
            <option value="@cursor.Key" selected="@SelectedValues.Contains(cursor.Key)">
                @cursor.Value
            </option>
        }
    }
</select>

@code {
    [Parameter, EditorRequired] public string Id { get; set; }
    [Parameter] public Dictionary<string, string> DropdownValues { get; set; }
    [Parameter] public List<string> SelectedValues { get; set; } = new();
    [Parameter] public EventCallback<List<string>> SelectedValuesChanged { get; set; }

    private async Task OnChange(ChangeEventArgs e)
    {
        var values = new List<string>();

        if (e.Value is not null)
        {
            var selectedOptions = (e.Value as string[]);

            if (selectedOptions != null)
            {
                values.AddRange(selectedOptions);
            }
        }

        SelectedValues = values;
        await SelectedValuesChanged.InvokeAsync(values);
    }
}

