{
  "openapi": "3.0.1",
  "info": {
    "title": "SMSLive247 API v4",
    "description": "SMS, OTP and Voice API for Nigeria",
    "termsOfService": "http://portal.smslive247.com/Public/Legal/Agreement.txt",
    "contact": {
      "name": "iDevWorks",
      "url": "http://portal.smslive247.com",
      "email": "info@smslive247.com"
    },
    "license": {
      "name": "Privacy Policy",
      "url": "http://portal.smslive247.com/Public/Legal/Privacy.txt"
    },
    "version": "v4"
  },
  "servers": [
    {
      "url": "https://api.smslive247.com"
    }
  ],
  "paths": {
    "/api/v4/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "AccountsList",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 1000.0,
              "minimum": 1.0
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 5.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/accounts/{accountId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "AccountGet",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/auth": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "Login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/auth/reset": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "ResetPassword",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v4/auth/current": {
      "delete": {
        "tags": [
          "Auth"
        ],
        "operationId": "Logout",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v4/batchfiles": {
      "get": {
        "tags": [
          "BatchFiles"
        ],
        "operationId": "BatchFileList",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 1000.0,
              "minimum": 1.0
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 5.0
            }
          },
          {
            "name": "SearchText",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BatchFileResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "BatchFiles"
        ],
        "operationId": "BatchFileCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchFileRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchFileRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BatchFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/batchfiles/schedule-debug/{batchId}": {
      "get": {
        "tags": [
          "BatchFiles"
        ],
        "operationId": "BatchFileDownload2",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v4/batchfiles/{fileId}": {
      "get": {
        "tags": [
          "BatchFiles"
        ],
        "operationId": "BatchFileDownload",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "BatchFiles"
        ],
        "operationId": "BatchFileUpdate",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchFileRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchFileRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BatchFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "BatchFiles"
        ],
        "operationId": "BatchFileDelete",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v4/credits/purchase": {
      "get": {
        "tags": [
          "Credits"
        ],
        "operationId": "PurchaseList",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SenderIdResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Credits"
        ],
        "operationId": "PurchaseInit",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/credits/purchase/complete": {
      "post": {
        "tags": [
          "Credits"
        ],
        "operationId": "PurchaseComplete",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/credits/transfer": {
      "get": {
        "tags": [
          "Credits"
        ],
        "operationId": "TransferList",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SenderIdResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Credits"
        ],
        "operationId": "TransferSend",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/credits/coverage": {
      "get": {
        "tags": [
          "Credits"
        ],
        "operationId": "CoverageList",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SenderIdResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/credits/pricing": {
      "get": {
        "tags": [
          "Credits"
        ],
        "operationId": "PricingList",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SenderIdResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/credits/pricing/calc": {
      "get": {
        "tags": [
          "Credits"
        ],
        "operationId": "PricingCalc",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/phonebook": {
      "get": {
        "tags": [
          "Phonebook"
        ],
        "operationId": "ContactList",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 1000.0,
              "minimum": 1.0
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 5.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Phonebook"
        ],
        "operationId": "ContactCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/phonebook/{phoneNo}": {
      "put": {
        "tags": [
          "Phonebook"
        ],
        "operationId": "ContactUpdate",
        "parameters": [
          {
            "name": "phoneNo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phoneNo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Phonebook"
        ],
        "operationId": "ContactDelete",
        "parameters": [
          {
            "name": "phoneNo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phoneNo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/phonebook/groups": {
      "get": {
        "tags": [
          "Phonebook"
        ],
        "operationId": "ContactGroups",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 1000.0,
              "minimum": 1.0
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 5.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/phonebook/groups/{groupId}": {
      "post": {
        "tags": [
          "Phonebook"
        ],
        "operationId": "ContactGroupCreate",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Phonebook"
        ],
        "operationId": "ContactGroupUpdate",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Phonebook"
        ],
        "operationId": "ContactGroupDelete",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/senderids": {
      "get": {
        "tags": [
          "SenderIds"
        ],
        "operationId": "SenderIdList",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 1000.0,
              "minimum": 1.0
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 5.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SenderIdResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "SenderIds"
        ],
        "operationId": "SenderIdCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SenderIdRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SenderIdRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SenderIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/senderids/{senderId}": {
      "delete": {
        "tags": [
          "SenderIds"
        ],
        "operationId": "SenderIdDelete",
        "parameters": [
          {
            "name": "senderId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "senderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/sms": {
      "post": {
        "tags": [
          "Sms"
        ],
        "operationId": "SmsMessageSend",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsMessageRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsMessageRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SmsMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsMessageResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Sms"
        ],
        "operationId": "SmsMessageList",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 1000.0,
              "minimum": 1.0
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 5.0
            }
          },
          {
            "name": "DateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SmsMessageResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/sms/{messageId}": {
      "get": {
        "tags": [
          "Sms"
        ],
        "operationId": "SmsMessageGet",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/sms/batch": {
      "post": {
        "tags": [
          "SmsBatch"
        ],
        "operationId": "SmsBatchCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsBatchRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsBatchRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SmsBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsBatchResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "SmsBatch"
        ],
        "operationId": "SmsBatchList",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 1000.0,
              "minimum": 1.0
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 5.0
            }
          },
          {
            "name": "DateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SmsBatchResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/sms/batch/template": {
      "post": {
        "tags": [
          "SmsBatch"
        ],
        "operationId": "SmsBatchCsvCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsBatchCsvRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsBatchCsvRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SmsBatchCsvRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsBatchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/sms/batch/pending": {
      "get": {
        "tags": [
          "SmsBatch"
        ],
        "operationId": "SmsBatchPendingList",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 1000.0,
              "minimum": 1.0
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 5.0
            }
          },
          {
            "name": "DateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SmsBatchResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/sms/batch/{batchId}": {
      "get": {
        "tags": [
          "SmsBatch"
        ],
        "operationId": "SmsBatchGet",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsBatchResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SmsBatch"
        ],
        "operationId": "SmsBatchDelete",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v4/sms/batch/pending/{batchId}": {
      "delete": {
        "tags": [
          "SmsBatch"
        ],
        "operationId": "SmsBatchPendingAbort",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v4/sms/batch/{batchId}/reports": {
      "get": {
        "tags": [
          "SmsBatch"
        ],
        "operationId": "SmsBatchReportsList",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 1000.0,
              "minimum": 1.0
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 5.0
            }
          },
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SmsMessageResponse"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "accountID": {
            "type": "string",
            "readOnly": true
          },
          "accountName": {
            "type": "string",
            "readOnly": true
          },
          "creditBalance": {
            "type": "number",
            "readOnly": true,
            "format": "double"
          },
          "status": {
            "type": "integer",
            "readOnly": true,
            "format": "int32"
          }
        }
      },
      "BatchFileRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "batchFileID",
          "countryCode",
          "description",
          "rawContents"
        ],
        "properties": {
          "batchFileID": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "minLength": 1
          },
          "rawContents": {
            "type": "string",
            "minLength": 1
          },
          "countryCode": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "BatchFileResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "createDate": {
            "type": "string",
            "readOnly": true,
            "format": "date-time"
          },
          "batchFileID": {
            "type": "string",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "readOnly": true
          },
          "fileType": {
            "type": "string",
            "readOnly": true
          },
          "totalItems": {
            "type": "integer",
            "readOnly": true,
            "format": "int32"
          }
        }
      },
      "ContactRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "contactName",
          "phoneNumber"
        ],
        "properties": {
          "contactName": {
            "type": "string",
            "minLength": 1
          },
          "phoneNumber": {
            "type": "string",
            "minLength": 1
          },
          "groups": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ContactResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "createDate": {
            "type": "string",
            "readOnly": true,
            "format": "date-time"
          },
          "contactName": {
            "type": "string",
            "readOnly": true
          },
          "phoneNumber": {
            "type": "string",
            "readOnly": true
          },
          "groups": {
            "type": "array",
            "readOnly": true,
            "nullable": true,
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DeliveryReportResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string",
            "readOnly": true
          },
          "smscID": {
            "type": "string",
            "readOnly": true
          },
          "reportDate": {
            "type": "string",
            "readOnly": true,
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "password",
          "username"
        ],
        "properties": {
          "parentId": {
            "type": "string",
            "nullable": true
          },
          "username": {
            "type": "string",
            "minLength": 1
          },
          "password": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "tokenType": {
            "type": "string",
            "readOnly": true
          },
          "expiresIn": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SenderIdRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "purpose",
          "sampleText",
          "senderID"
        ],
        "properties": {
          "senderID": {
            "type": "string",
            "minLength": 1
          },
          "purpose": {
            "type": "string",
            "minLength": 1
          },
          "sampleText": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "SenderIdResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "requestDate": {
            "type": "string",
            "readOnly": true,
            "format": "date-time"
          },
          "approvedDate": {
            "type": "string",
            "readOnly": true,
            "format": "date-time",
            "nullable": true
          },
          "senderID": {
            "type": "string",
            "readOnly": true
          },
          "status": {
            "type": "string",
            "readOnly": true
          },
          "purpose": {
            "type": "string",
            "readOnly": true,
            "nullable": true
          },
          "sampleText": {
            "type": "string",
            "readOnly": true,
            "nullable": true
          }
        }
      },
      "SmsBatchCsvRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "senderID": {
            "type": "string"
          },
          "messageText": {
            "type": "string"
          },
          "deliveryTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "route": {
            "type": "string"
          },
          "batchFileID": {
            "type": "string"
          },
          "mobileNumberColumn": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SmsBatchRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "senderID": {
            "type": "string"
          },
          "messageText": {
            "type": "string"
          },
          "deliveryTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "route": {
            "type": "string"
          },
          "rawNumbers": {
            "type": "string",
            "nullable": true
          },
          "mobileNumbers": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "batchFileIDs": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SmsBatchResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "batchID": {
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "senderID": {
            "type": "string",
            "readOnly": true
          },
          "messageText": {
            "type": "string",
            "readOnly": true
          },
          "messageParts": {
            "type": "integer",
            "readOnly": true,
            "format": "int32"
          },
          "totalProcessed": {
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "totalFailed": {
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "charged": {
            "type": "number",
            "readOnly": true,
            "format": "double"
          },
          "submitDate": {
            "type": "string",
            "readOnly": true,
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "SmsMessageRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "senderID": {
            "type": "string"
          },
          "messageText": {
            "type": "string"
          },
          "deliveryTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "mobileNumber": {
            "type": "string"
          },
          "route": {
            "type": "string"
          }
        }
      },
      "SmsMessageResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "batchID": {
            "type": "integer",
            "readOnly": true,
            "format": "int64"
          },
          "messageID": {
            "type": "string",
            "readOnly": true
          },
          "senderID": {
            "type": "string",
            "readOnly": true
          },
          "messageText": {
            "type": "string",
            "readOnly": true
          },
          "mobileNumber": {
            "type": "string",
            "readOnly": true
          },
          "submitDate": {
            "type": "string",
            "readOnly": true,
            "format": "date-time"
          },
          "charged": {
            "type": "number",
            "readOnly": true,
            "format": "double"
          },
          "reports": {
            "type": "array",
            "readOnly": true,
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/DeliveryReportResponse"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "ApiKey Authorization header using the Bearer scheme. \\r\\n\\r\\n \r\n                                    Enter 'Bearer' [space] and then your API Key in the text input below.\r\n                                    \\r\\n\\r\\nExample: 'Bearer 12345abcdef'",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ]
}