@page "/Accounts/SubAccounts"
@attribute [Authorize]

<PageTitle>SMSLive247 - SubAccounts</PageTitle>
<Title>SubAccounts</Title>

<Tabs>
    <TabPage Title="Sub Accounts">
        <SubAccounts></SubAccounts>
    </TabPage>
    <TabPage Title="Sent Messages">
        <SentMessages></SentMessages>
    </TabPage>
    <TabPage Title="Transfers">
       <Transfers></Transfers>
    </TabPage>
</Tabs>
