@page "/Accounts/SubAccounts"
@attribute [Authorize]

<PageTitle>SMSLive247 - Sub Accounts</PageTitle>
<Title>Sub Accounts</Title>

<Tabs>
    <TabPage Title="Sub Accounts" Icon="fa fa-users">
        <SubAccounts></SubAccounts>
    </TabPage>
    <TabPage Title="Sent Messages" Icon="fa fa-envelope">
        <SentMessages></SentMessages>
    </TabPage>
    <TabPage Title="Transfers" Icon="fa fa-gift">
       <Transfers></Transfers>
    </TabPage>
</Tabs>
